
<!-- tablesorter pager -->
<div id="tablesorter-pager" class="tablesorter-pager">
    <form class="small-12 large-12">
      <div class="row">
        <div class="small-2 large-2 columns">
          <input type="text" class="pagedisplay"/>
        </div>
        <div class="small-2 large-2 columns">
          <select class="pagesize support attribute">
            <option selected="selected"  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
          </select>
        </div>
        <div class="small-6 large-6 columns" style="text-align:right">
    <span class="tablesorter-pager-menu">
      <a href="javascript:;" class="first websymbol"><<</a>
      <a href="javascript:;" class="prev websymbol"><</a>
      <a href="javascript:;" class="next websymbol">></a>
      <a href="javascript:;" class="last websymbol">>></a>
    </span>
        </div>
      </div>
    </form>
  </div>

<!-- end tablesorter pager -->