
<div class="row">

<div class="small-12 large-12 columns">

<div class="panel">

<div class="row collapse">

  <div class="small-10 large-10 columns">

    <input type="text" name="filter" id="filter-box" value="" placeholder="Filter Content"/>
  </div>
  <div class="small-2 large-2 columns">
    <input id="filter-clear-button" class="button secondary expand postfix" type="submit" value="Clear"/>

  </div>
</div>
</div>
{% include 'admin/views/TemplateView.html' %}
<hr>
{% include 'admin/templates/table_pager.html' %}
</div>

</div>


<div id="modal" class="reveal-modal xlarge">
  <h2>{{modal_head}}</h2>
  <p class="lead">{{modal_subhead}}</p>
  <p>{{modal_text}}</p>
  <a href="{{modal_link}}" class="button alert">Close</a>
  <a class="close-reveal-modal" href="{{modal_link}}">&#215;</a>
</div>

