/app/views/cache/*
/.sass-cache/*
/styles/scss/.sass-cache/*
/logs/*
/vendor/*
/components/*
/images/*
/uploads/*
/scripts/lib/*
/scripts/vendor/*
/app/config/config.php
bootstrap.php
composer.phar
composer.lock
.DS_STORE
