<div class="subhead">

<div class="row full-width">

        <div class="small-12 columns">

                <div class="row"><div class="small-12 columns">
        <h3 style="float:left">{{page_name}} {{resource_name}}</h3> 
        {% if addable == true %}
        <span style="float:right;"><a href="{{url}}/admin/{{section}}/{{encoded_first}}" class="secondary button">{{ first }}</a></span>
		{% endif %}
        <div style="clear:both"></div>
        <hr />
</div></div>


        </div>
        </div>


</div>


<div class="row">
        <div class="small-12 columns">
                {{ message }}
        </div>
</div>