

<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="{{ url }}">{{ page_name }} Admin</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="has-dropdown {{cms_active}}"><a href="{{url}}/admin/cms">CMS</a>
        <ul class="dropdown">
              <li><label>Pages</label></li>
              <li><a href="{{url}}/admin/cms/pages">Pages</a></li>
              <li><a href="{{url}}/admin/cms/templates">Templates</a></li>
              <li><a href="{{url}}/admin/cms/blocks">Blocks</a></li>
              <li class="divider"></li>
              <li><a href="{{url}}/admin/cms">CMS Admin &rarr;</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown {{store_active}}"><a href="{{url}}/admin/store">Store</a>
        <ul class="dropdown">
              <li><label>Products</label></li>
              <li><a href="{{url}}/admin/store/products">Products</a></li>
              <li><a href="{{url}}/admin/store/categories">Categories</a></li>
              <li class="divider"></li>
              <li><label>Settings</label></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Email</a></li>
              <li><a href="#">Coupons</a></li>
              <li class="divider"></li>
              <li><a href="{{url}}/admin/store">Store Admin &rarr;</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="{{customers_active}}"><a href="{{url}}/admin/customers">Customers</a></li>
      <li class="divider"></li>
      <li class="{{emails_active}}"><a href="{{url}}/admin/emails">Emails</a></li>
      <li class="divider"></li>
      
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
     

      <li class="has-form">
        <form>
          <div class="row collapse">
            <div class="small-12 columns">
              <input type="text">
            </div>
            
          </div>
        </form>
      </li>
      
      <li class="divider"></li>
      
      <li class="has-dropdown"><a href="#">{{user}}</a>

        <ul class="dropdown">
          <li><label>Account</label></li>
          <li><a href="{{url}}/admin/account">{{user}}</a></li>
          <li class="divider"></li>
          <li><a href="{{url}}/logout">Logout &rarr;</a></li>
        </ul>
      </li>
      <li class="divider show-for-small"></li>
    </ul>
  </section>
</nav>


<!--
<nav class="top-bar">

	<ul>
		
		<li class="name"><h1><a href="</a></h1></li>
		<li class="toggle-topbar"><a href="#"></a></li>

	</ul>

	<section>
    	<ul class="left">

			<li class="has-dropdown">

      			<a href="{{ url }}products">Products</a>

      			<ul class="dropdown">

        			<li><a href="{{ url }}products/categories">Categories</a></li>
              <li><a href="{{ url }}products/subcategories">Subcategories</a></li>
              <li><a href="{{ url }}products/product_categories">Product Categories</a></li>
        		  <li><a href="{{ url }}products/fields">Field Manager</a></li>
            	<li><a href="{{ url }}products">Products</a></li>
              <li class="divider"></li>
              <li><a href="{{ url }}products/add">Add Product</a></li>




      			
      			</ul>

    		</li>

    		<li class="has-dropdown">

      			<a href="{{ url }}pages">Pages</a>

      			<ul class="dropdown">
              <li><a href="{{ url }}pages/templates">Templates</a></li>
              <li><a href="{{ url }}pages/templates/add">Add Template</a></li>

              <li class="divider"></li>

                <li><a href="{{ url }}pages/templates/modules">Modules</a></li>
              <li><a href="{{ url }}pages/templates/modules/add">Add Module</a></li>

              <li class="divider"></li>

        			<li><a href="{{ url }}pages">Pages</a></li>
              <li><a href="{{ url }}pages/add">Add Page</a></li>

      			
      			</ul>

    		</li>
        <li class="has-dropdown">

            <a href="{{ url }}people">People</a>

            <ul class="dropdown">

              <li><a href="{{ url }}people/add">Add Person</a></li>
              <li><a href="{{ url }}people">View People</a></li>
            
            </ul>

        </li>

        <li class="has-dropdown">

            <a href="{{ url }}pages">Blog</a>

            <ul class="dropdown">

              <li><a href="{{ url }}blog/posts/add">New Post</a></li>
              <li><a href="{{ url }}blog/posts">View Posts</a></li>
              <li><a href="{{ url }}blog/categories">Categories</a></li>
            </ul>

        </li>

        <li><a href="{{ url }}related_links">Related Links</a></li>
        <li><a href="{{ url }}featured_video">Featured Video</a></li>



   		</ul>

      <ul class="right">
 
      <li class="has-dropdown">

        <a href="{{ url }}dashboard">Dashboard</a>

        <ul class="dropdown">

          <li><a href="{{ url }}account">Account</a></li>
          

          <li><a href="{{ url }}logout">Logout</a></li>

        </ul>

      </li>
    
    </ul>

   
  </section>

<</nav>
-->
