<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>{{title}}</title>

	<!-- Included CSS Files -->
		<link rel="stylesheet" href="http://localhost/skeletor/styles/foundation.css">
	<link rel="stylesheet" href="http://localhost/skeletor/styles/style.css">

	<script src="../../scripts/vendor/modernizr/modernizr.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script data-main="http://localhost/skeletor/scripts/main" src="http://localhost/skeletor//scripts/vendor/requirejs/require.js"></script>


</head>
<body>


{% include 'admin/layout/header.html' %}
{% include 'admin/layout/subheader.html' %}

{% include 'admin/templates/view_page_body.html' %}
{{ form_errors(form) }}

<form action="" method="post">


<div>

    {{ form_widget(form) }}
</div>


{{ form_rest(form) }}
   <input type="submit" class="button" />
</form>

{% include 'admin/layout/footer.html' %}

	</body>
</html>