<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>{{title}}</title>

	<!-- Included CSS Files -->
		<link rel="stylesheet" href="../../styles/foundation.css">
	<link rel="stylesheet" href="../../style.css">

	<script src="../../scripts/vendor/modernizr/modernizr.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script data-main="../../scripts/main" src="../../scripts/vendor/requirejs/require.js"></script>


</head>
<body>
{% include 'admin/layout/header.html' %}
{% include 'admin/layout/subheader.html' %}

{% include 'admin/templates/view_page_body.html' %}
<form action="#" method="post">
    {{ form_widget(form) }}
    <input type="submit" />
</form>

	<section id="todoapp">
		<header id="header">
			<a href="javascript:;" class="test">test</a>
			<h1>todos</h1>
			<input id="new-todo" placeholder="What needs to be done?" autofocus>
		</header>
		<section id="main">
			<input id="toggle-all" type="checkbox">
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list"></ul>
		</section>
		<footer id="footer"></footer>
	</section>

{% include 'admin/layout/footer.html' %}

	</body>
</html>