{% for key,value in data %}

<div class="small-2 columns">
          <a href="{{url}}/admin/{{section}}/{{encoded_first}}" class="small-12 secondary button">&larr; Back</a>
<!--
        
<ul class="pricing-table">
    <li class="price">{{value.firstName}} {{value.lastName|e}}</li>
  <li class="price">{{value.firstName}} {{value.lastName|e}}</li>
  <li class="bullet-item">First Order: </li>
  <li class="bullet-item">Last Order: </li>
  <li class="bullet-item">Order Total</li>
  <li class="cta-button"><a class="button small" href="#">Order History</a></li>
</ul>

-->
  
</div>

<div class="small-10 columns">

    
        <div class="panel">

<div class="row collapse">

  <div class="small-12 columns">

  		<h2>{{ value.lastName|e }}, {{ value.firstName|e }}</h2>
  		<a class="button" href="mailto:{{value.email|e}}">{{ value.email|e}}</a>
  		<hr>
  </div>

  <div class="small-6 columns" style="line-height:1.2em">
  	<strong>Shipping Address</strong><br />
  	{{value.address.shippingFirstName|e}} {{value.address.shippingLastName|e}}<br />
  	{{value.address.shippingStreet|e}}, {{value.address.shippingstreetTwo|e}}<br />
  	{{value.address.shippingCity|e}}, {{value.address.shippingState|e}}<br />
  	{{value.address.shippingZip|e}}<br />
  	{{value.address.shippingCountry|e}}
  </div>

  <div class="small-6 columns">
  	  	<strong>Billing Address</strong><br>

  </div>

</div>
</div>
</div>

        {% endfor %} 
