<img src="{{root}}images/tea3.jpg" class="bg">


<div class="row">

<div class="twelve columns">



</div>


</div>

<div class="row">

<div class="three columns catnav">
	
		<ul>
		{{#menu}}
		<li><a class="{{class}}" href="{{www}}shop/{{link}}"><strong>{{name}}</strong></a></li>
		
		{{/menu}}
	</ul>

</div>


<div class="nine columns">

<h1 class="subhead">Star Tea Online Shop</h1>
<div class="row" style="background: #fff; margin: 3em 0;">

	<div class="three columns">
		<hr>
		<img src="{{root}}images/2.jpg">
		<hr>

	</div>

	<div class="nine columns">
		<hr>
		<h5>Lorem Ipsum</h5>
		<p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>

	</div>

</div>
	<div class="row">

		<ul class="block-grid four-up mobile-two-up">

	{{#categories}}
	  <li style="position: relative">
		<img src="{{root}}uploads/uploads/{{image}}{{ext}}"><a href="{{www}}shop/{{category}}/{{subcategory}}/{{encoded_name}}" class="overimg"><h6>{{name}}</h6></a></li>
	{{/categories}}
	</ul>

	</div>
	
</div>

</div>