@charset "UTF-8";


@import "app/typography";

@import "app/validator";

@import "app/pager";

@import "app/select";

@import "app/redactor";

@import "app/uploader";

@import "app/password";

@import "views/login";


/* IE7 SHIM */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../stylesheets/polyfills/box-sizing.htc);
}
