
<div class="row">

	<div class="twelve columns hero">

	<h1>In The Press</h1>
	<h4 class="subheader">Lorem Ipsum Dolors San Iptunim Whaca</h4>

	</div>
</div>

<div class="row">

	<div class="twelve columns centered hero">
	
		<p>Lorem ipsum dolors san iptunim whaca matada the sanfa flada. <br><strong>All inquiries will receive a response within 24 hours.</strong></p>
	
	</div>

	</div>

</div>

<div class="row">
	<div class="twelve columns">
		<hr>
	</div>
</div>

<div class="row">

	<div class="four columns">

		<div class="homebox">

			<h5>Recent Posts</h5>

			<ul style="list-style-type:none">

			{{#recent_posts}}

				<li><a href="{{www}}in-the-press/posts/{{encoded_name}}">{{name}}</a></li>

			{{/recent_posts}}

			</ul>

			<hr>

			<h5>Categories</h5>

			<ul style="list-style-type:none">

			{{#blog_categories}}

				<li><a href="{{www}}in-the-press/{{encoded_name}}">{{name}}</a></li>

			{{/blog_categories}}

			</ul>


		</div>

	</div>

	<div class="eight columns">
		<div class="blog-box">
			
			{{#posts}}

				<h4>{{name}}</h4>
				<h6 class="subheader">{{time}}</h6>

				<br><br>

				{{{post}}}
				{{{read_more_link}}}

				<hr>

			{{/posts}}



		
		</div>
	</div>


<!-- end row div -->
</div> 
