
<div class="row">

	<div class="twelve columns hero">

	<h1>Contact Us</h1>
	<h4 class="subheader">Thank You For Your Interest In Leader Tech!</h4>

	</div>
</div>

<div class="row">

	<div class="twelve columns centered hero">
	
		<p>For more information, product samples, quotes or engineering support you can call, e-mail or submit the e-form below.<br><strong>All inquiries will receive a response within 24 hours.</strong></p>
	
	</div>

	</div>

</div>

<div class="row">
	<div class="twelve columns">
		<hr>
	</div>
</div>

<div class="row">

	<div class="four columns">

		<div class="homebox">

			<h5>Leader Tech</h5>

			<div class="address">

			<p>12420 Race Track Rd</p>
			<p>Tampa, Florida 33626</p>
			<p><strong>Toll Free:</strong> 866.832.4364</p>
			<p><strong>Tel:</strong> 813.855.6921</p>
			<p><strong>Fax:</strong> 813.855.3291</p>
			<p><strong>Email:</strong> <a href="mailto:sales@leadertechinc.com">sales@leadertechinc.com</a></p>

			</div>

			<h5>Domestic and international<br>
sales & distribution contacts</h5>

			<form id="sales_contacts" name="sales_contacts" method="post" action="">
				
				<label>Country</label>
				<select name="country">

					{{#countries}}
					<option value="{{value}}">{{name}}</option>
					{{/countries}}

				</select>

				<br><br>
				
				<label>State</label>
				<select name="state">
					{{#states}}
					<option value="{{value}}">{{name}}</option>
					{{/states}}
				</select>

				<div class="clear"></div>
				<hr>	
				<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">

				<input type="submit" class="button secondary" value="Find Contacts" name="findContacts">

			</form>



			{{#featured_contacts}}

			<div class="featured_contact">

				<h5>{{name}}</h5>
				<i>{{company}}</i>
				<hr>
				<p>Phone: {{phone}}</p>
				<p>Cell: {{cell}}</p>
				<p>Fax: {{fax}}</p>
				<p><a href="mailto:{{email}}">{{email}}</a></p>

			</div>

			{{/featured_contacts}}


		</div>

	</div>

	<div class="eight columns">
		<div class="homebox">

			<h5>Contact Form</h5>

			<p>If you are having a tough time deciding which product would be best for your application, we have Application Engineers waiting to help you decide. Please contact us or fill out the application assistance form below and we’ll be in touch as soon as possible.</p>

			<form method="post" action="" id="contact_form" name="contact_form">

		 	 <div class="row">
             
            	 <div class="twelve mobile-one columns">
             	    <label for="contact_name"><strong>Name</strong></label>
            	    <input type="text" name="contact_name" id="contact_name" class="eight mobile-four" />
            	 </div>

            	 <div class="twelve mobile-one columns">
             	    <label for="contact_company"><strong>Company</strong></label>
            	    <input type="text" name="contact_company" id="contact_company" class="eight mobile-four" />
            	 </div>

            	 <div class="twelve mobile-one columns">
             	    <label for="contact_email"><strong>Email</strong></label>
            	    <input type="text" name="contact_email" id="contact_email" class="eigh mobile-four" />
            	 </div>

            	 <div class="twelve mobile-one columns">
             	    <label for="contact_phone"><strong>Phone</strong></label>
            	    <input type="text" name="contact_phone" id="contact_phone" class="eight phone mobile-four" />
            	 </div>

            	<div class="twelve mobile-one columns">
             	    <label for="contact_industry"><strong>Industry</strong></label>
 					
 					<select name="contact_industry" class="eight  mobile-four">

						<option value="US">United States</option>

					</select>
            	 </div>

            	 <div style="clear:both"></div>
            	 <br><br>
            	 	<div class="twelve mobile-four columns">
             	    <label for="contact_notes"><strong>Tell Us What You Need</strong></label>
 					
 					<textarea name="contact_notes" class="eight mobile-four" style="min-height: 16em"></textarea>

            	 </div>

            	
				</select>

         	</div>
			
			<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">

         	<input type="submit" value="Submit" class="large button radius" name="submitContactForm">

			</form>

		</div>
	</div>


<!-- end row div -->
</div> 
