
<div class="row">

	<div class="twelve columns hero">

	<h1>{{page_name}}</h1>
	<h4 class="subheader">Thank You For Your Interest In Leader Tech!</h4>

	</div>
</div>

<div class="row">

	<div class="twelve columns centered hero">
	
		<p>For more information, product samples, quotes or engineering support you can call, e-mail or submit the e-form below.<br><strong>All inquiries will receive a response within 24 hours.</strong></p>
	
	</div>

	</div>

</div>

<div class="row">
	<div class="twelve columns">
		<hr>
	</div>
</div>

<div class="row">

	<div class="four columns">

		<div class="homebox">

			<h5>Leader Tech</h5>
<h5 class='subheader'>{{page_name}}</h5>

			{{#grid}}

			<div style='display:block; margin:16px 0 8px'>

				{{name}}
	

			</div>

			{{/grid}}


		</div>

	</div>

	<div class="eight columns">
		<div class="homebox">

			<h5>{{page_name}}</h5>

			<p>{{description}}</p>

			{{#grid}}

			<ul class="block-grid three-up">

<li>
				<h8>{{name}}</h8>
			{{{video}}}
</li>

			</ul>

			{{/grid}}


		</div>
	</div>


<!-- end row div -->
</div> 