{{#product}}

<div class="row">

	<div class="twelve columns">

		
<ul class="breadcrumbs hide-for-small" style="margin-top: -1em; padding-left:1.4em;">
  <li><span><a href="{{www}}">Home</a></span></li>
  <li><a href="{{www}}products"><span>{{category}}</a></span></li>
   <li><span><a href="{{www}}products/{{category_name}}/{{subcategory_name}}" style="padding:0;">{{subcategory}}</a></span></li>
  <li class="current"><a href="{{www}}products/{{category_name}}/{{subcategory_name}}/{{product_name}}" style="padding:0;"><span>{{product}}</a></span></li>
</ul>

	</div>

</div> 

<div class="row" style="padding-top: 3em !important; padding-bottom: 2em !important;">

	<div class="nine columns">
		<div class="row">
			<div class="two columns mobile-four">
				<img src="{{root}}uploads/uploads/{{product_image}}{{product_image_ext}}" alt="{{product_name}}" class="twelve">
			</div>

			<div class="ten columns mobile-four">
				
				<h2 style="font-family: dinff_boldregular; text-transform: uppercase; float:left; margin-left: .6em">{{subcategory_name}}</h2>
				
				<h4 class="subheader" style="font-family: dinff_regularregular; text-transform: uppercase; margin-left: 1em; font-weight:bold !important">{{product}}</h4>

			</div>
		</div>
	</div>

	<div class="three columns">
		<a href="#" class="button large radius twelve" style="margin-top: 1em;">Contact Us</a>
		<center><p class="sub_detail">For More Information</p></center>
	</div>


</div>
<div class="row">
	<hr style="margin-bottom: 6em;">
</div>


<div class="row">

	<div class="nine columns mobile-three">
		<div style="line-height: 1.5em">
			{{{description}}}
		</div>
	</div>

	<div class="three columns mobile-one">
		<h5>Related Links</h5>
		<div id="related_links_widget" class="twelve radius">
			<ul>
				{{{related_links}}}

			</ul>
		</div>
	</div>
</div>

</div>
<div class="row">

	<div class="twelve columns">
		<hr>
		<h5>Part Numbers</h5>

		<table class="twelve public_table">

			<thead>
				<tr>
				{{#theads}}
			
					<th>{{thead}}</th>

				{{/theads}}
				</tr>
			</thead>

			<tbody>

				{{#fields}}
					{{{fields}}}
				{{/fields}}

			</tbody>

		</table>
		<hr>
	</div>

</div>


<div class="row">

	<div class="six columns">
		<h5>Standard Tolerances For All Profiles Unless Superceded by MIL-DTL-83528</h5>

		<table class="twelve public_table">

			<thead>

				<th>Dimensions
				</th>

				<th>Tolerance
				</th>

			</thead>

			<tbody>

			{{#tolerances}}
				<tr>
					<td>{{dimensions}}</td>
					<td>{{tolerance}}</td>
				</tr>
	
			{{/tolerances}}


			</tbody>

		</table>
	</div>

	<div class="six columns">
		<h5>Part Numbering</h5><br><br>
		<div class="product-box">
			<div class="product-box-head">
				<center>Product Numbers</center>
			</div>

			<center>
			
				<h1 style="font-family: dinff_boldregular">5XXX-XXXX-MM</h1>
			
				<h5 class="subheader">MM=LTE Material Code</h5>
			
				<a href="#" class="button radius">Material Selection Code</a>
			
				<br><br><br>

			</center>
		
		</div>

	</div>

</div>

{{/product}}

