<div class="row" style="margin-top: 1em">
	<span class="home-flag"></span>

	<div class="twelve columns">


		<div id="featured">
			
			{{#slider}}

			<img src="{{root}}uploads/uploads/{{slide}}">
			

			{{/slider}}
 		
		</div>



	</div>

</div> 


<div class="row">

	<div class="twelve columns hero">

	<h1>The leading source for EMI shielding</h1>
	<h4 class="subheader">Reliable Board, Enclosure  and Cable Solutions</h4>

	</div>
</div>

<div class="row">

	<div class="eight columns centered hero">
	
		<p>Leader Tech is a world-leading innovator and U.S. manufacturer of EMI shielding products for circuit boards, electronic enclosures, and interconnect cables. <a href="#" class="arrow-link">Learn More</a></p>
	
	</div>

	</div>

</div>

<div class="row">
	<div class="twelve columns">
		<hr>
	</div>
</div>

<div class="row">

		<div class="four columns centered hero">

			<h5>Our Shielding Solutions</h5>

		</div>

</div>

<div class="row">

	<div class="twelve columns">

		<ul class="block-grid three-up mobile-one-up home-box"  style="max-height: 25em">

			{{#shielding_solutions}}

			<li><img class="image-shadow" src="{{root}}uploads/uploads/{{image}}{{ext}}"></li>

			{{/shielding_solutions}}

		</ul>

	</div>

</div>


<div class="row" style="margin-top:4em;">

	<div class="twelve columns">

		<ul class="block-grid three-up mobile-one-up home-box">

			<li>

				<h5>Featured Video</h5>
			
				<div class="home-boxed">

					{{{featured_video}}}

				</div>
				<br>
				<a href="{{www}}video" class="arrow-link">View All Featured Videos</a>

			</li>

			{{#blog_posts}}
					<li>

				<h5>In The Press</h5>
			
				<div class="home-boxed">
					
					<h5 style="color: #003a6a;">{{name}}</h5>
					
					{{{post}}}


				<p><a href="{{www}}video" class="arrow-link">Read More</a></p>

				</div>
				<br>
				<a href="{{www}}in-the-press" class="arrow-link">More Articles In Our Blog</a>

			</li>
			{{/blog_posts}}


			
			<li>

			<h5>Visit Our Facilities</h5>

			<div class="home-boxed">

					<img src="{{root}}images/visit.jpg" alt="Visit Us" class="twelve">
				
				</div>

				<br>

				<a href="{{www}}}about" class="arrow-link">Find Out About Us</a>

			</li>


		</ul>

	</div>

</div>

