.detail {
	
	color: #d9bb04;
	font-size: .8em;
	text-transform: uppercase;
	padding-right: 1em;

}

.footer { 

	background: #354049; 
	margin-top: 10em; 
	padding: 3em 0; 

	.subhead {

		display: block;
		color:#fff; 
		text-shadow: 2px 2px 2px #1a1a1a;
		padding:  0 0 .8em;
		letter-spacing: .1em;
		font-size: .9em;

		a {

			color: #d9bb04;

		}

	}

 }

	.copyright {

		color: #adadad;
		letter-spacing: .1em;
		font-size: .9em;

	}
