<table class="small-12 large-12 table-sort" id="table_widget">

    <thead>
       <tr>
          <th class="filter-false">ID</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Order History</th>
          <th>Customer Info</th>
         </tr>
  </thead>
<tbody>
  
        {% for key,value in data %}
      

        <tr>
          <td>{{ value.id|e }}</td>
          <td>{{ value.lastName|e }}</td>
          <td>{{ value.email|e }}</td>
          <td><a href="{{url}}/admin/{{encoded_name}}s/history/{{value.id|e}}" class="tiny secondary button">View History</a></td>
          <td><a href="{{url}}/admin/{{encoded_name}}s/{{value.id|e}}" class="tiny secondary button">View Details</a></td>
       
        </tr>
        {% endfor %} 
  
</tbody>

</table>

