/* line 2, scss/app/_orbit.scss */
#featured {
  background: url(spinner.gif) center center #f4f4f4;
  height: 300px;
}

/* line 3, scss/app/_orbit.scss */
#featured img {
  display: none;
}

/* line 5, scss/app/_orbit.scss */
#featured.orbit {
  background: none;
}

/* line 6, scss/app/_orbit.scss */
#featured.orbit img {
  display: block;
}

/* @group Base */
/* line 2, scss/app/_select.scss */
.chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 9, scss/app/_select.scss */
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 1010;
}

/* @end */
/* @group Single Chosen */
/* line 24, scss/app/_select.scss */
.chzn-container-single .chzn-single {
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, white), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 23px;
  line-height: 24px;
  padding: 0 0 0 8px;
  color: #444444;
  text-decoration: none;
}

/* line 52, scss/app/_select.scss */
.chzn-container-single .chzn-default {
  color: #999;
}

/* line 55, scss/app/_select.scss */
.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 64, scss/app/_select.scss */
.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 6px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url("../images/app/chosen-sprite.png") right top no-repeat;
}

/* line 74, scss/app/_select.scss */
.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px;
}

/* line 77, scss/app/_select.scss */
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
  background-position: right top;
}

/* line 80, scss/app/_select.scss */
.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}

/* line 88, scss/app/_select.scss */
.chzn-container-single .chzn-single div b {
  background: url("../images/app/chosen-sprite.png") no-repeat 0 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 94, scss/app/_select.scss */
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}

/* line 101, scss/app/_select.scss */
.chzn-container-single .chzn-search input {
  background: white url("../images/app/chosen-sprite.png") no-repeat 100% -22px;
  background: url("../images/app/chosen-sprite.png") no-repeat 100% -22px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background: url("../images/app/chosen-sprite.png") no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("../images/app/chosen-sprite.png") no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("../images/app/chosen-sprite.png") no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("../images/app/chosen-sprite.png") no-repeat 100% -22px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
}

/* line 115, scss/app/_select.scss */
.chzn-container-single .chzn-drop {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* @end */
/* line 125, scss/app/_select.scss */
.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}

/* @group Multi Chosen */
/* line 131, scss/app/_select.scss */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}

/* line 147, scss/app/_select.scss */
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}

/* line 151, scss/app/_select.scss */
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

/* line 156, scss/app/_select.scss */
.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 170, scss/app/_select.scss */
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999;
}

/* line 173, scss/app/_select.scss */
.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  border: 1px solid #aaaaaa;
  line-height: 13px;
  padding: 3px 20px 3px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}

/* line 198, scss/app/_select.scss */
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
  border: 1px solid #cccccc;
  padding-right: 5px;
}

/* line 211, scss/app/_select.scss */
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}

/* line 214, scss/app/_select.scss */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url("../images/app/chosen-sprite.png") right top no-repeat;
}

/* line 224, scss/app/_select.scss */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}

/* line 227, scss/app/_select.scss */
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}

/* @end */
/* @group Results */
/* line 233, scss/app/_select.scss */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 242, scss/app/_select.scss */
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}

/* line 246, scss/app/_select.scss */
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
}

/* line 253, scss/app/_select.scss */
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}

/* line 257, scss/app/_select.scss */
.chzn-container .chzn-results .highlighted {
  background-color: #3875d7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}

/* line 267, scss/app/_select.scss */
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}

/* line 271, scss/app/_select.scss */
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}

/* line 274, scss/app/_select.scss */
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}

/* line 278, scss/app/_select.scss */
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}

/* line 283, scss/app/_select.scss */
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}

/* line 286, scss/app/_select.scss */
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}

/* line 289, scss/app/_select.scss */
.chzn-container .chzn-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  /* This should by dynamic with js */
  z-index: 1;
}

/* line 297, scss/app/_select.scss */
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}

/* line 303, scss/app/_select.scss */
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}

/* line 306, scss/app/_select.scss */
.chzn-container .chzn-results-scroll-down span {
  background: url("../images/app/chosen-sprite.png") no-repeat -4px -3px;
}

/* line 309, scss/app/_select.scss */
.chzn-container .chzn-results-scroll-up span {
  background: url("../images/app/chosen-sprite.png") no-repeat -22px -3px;
}

/* @end */
/* @group Active  */
/* line 315, scss/app/_select.scss */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}

/* line 321, scss/app/_select.scss */
.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #eeeeee), color-stop(80%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 340, scss/app/_select.scss */
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}

/* line 344, scss/app/_select.scss */
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px;
}

/* line 347, scss/app/_select.scss */
.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}

/* line 353, scss/app/_select.scss */
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
/* line 359, scss/app/_select.scss */
.chzn-disabled {
  cursor: default;
  opacity: 0.5 !important;
}

/* line 363, scss/app/_select.scss */
.chzn-disabled .chzn-single {
  cursor: default;
}

/* line 366, scss/app/_select.scss */
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @group Right to Left */
/* line 371, scss/app/_select.scss */
.chzn-rtl {
  text-align: right;
}

/* line 372, scss/app/_select.scss */
.chzn-rtl .chzn-single {
  padding: 0 8px 0 0;
  overflow: visible;
}

/* line 373, scss/app/_select.scss */
.chzn-rtl .chzn-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl;
}

/* line 375, scss/app/_select.scss */
.chzn-rtl .chzn-single div {
  left: 3px;
  right: auto;
}

/* line 376, scss/app/_select.scss */
.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto;
}

/* line 380, scss/app/_select.scss */
.chzn-rtl .chzn-choices .search-field input {
  direction: rtl;
}

/* line 381, scss/app/_select.scss */
.chzn-rtl .chzn-choices li {
  float: right;
}

/* line 382, scss/app/_select.scss */
.chzn-rtl .chzn-choices .search-choice {
  padding: 3px 5px 3px 19px;
  margin: 3px 5px 3px 0;
}

/* line 383, scss/app/_select.scss */
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
  left: 4px;
  right: auto;
  background-position: right top;
}

/* line 384, scss/app/_select.scss */
.chzn-rtl.chzn-container-single .chzn-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

/* line 385, scss/app/_select.scss */
.chzn-rtl .chzn-results .group-option {
  padding-left: 0;
  padding-right: 15px;
}

/* line 386, scss/app/_select.scss */
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
  border-right: none;
}

/* line 387, scss/app/_select.scss */
.chzn-rtl .chzn-search input {
  background: white url("../images/app/chosen-sprite.png") no-repeat -38px -22px;
  background: url("../images/app/chosen-sprite.png") no-repeat -38px -22px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background: url("../images/app/chosen-sprite.png") no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("../images/app/chosen-sprite.png") no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("../images/app/chosen-sprite.png") no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("../images/app/chosen-sprite.png") no-repeat -38px -22px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  padding: 4px 5px 4px 20px;
  direction: rtl;
}

/* @end */
/* line 2, scss/app/_validation.scss */
label.error {
  background: url(../images/app/error.png) top left no-repeat;
  font-weight: normal;
  color: #000;
  font-size: 11px;
  display: block;
  padding: 5px 8px 15px 35px;
  margin-top: 2px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dadada;
}

/* line 15, scss/app/_validation.scss */
label.valid {
  display: none !important;
}

/* Tables ---------------------- */
/* line 227, ../scss/foundation/components/modules/_ui.scss */
/* line 4, scss/app/_public_tables.scss */
table {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 18px;
  padding: 0;
  border: 1px solid #ddd;
  padding: 0 !important;
}

/* line 229, ../scss/foundation/components/modules/_ui.scss */
/* line 19, scss/app/_public_tables.scss */
table thead, table tfoot {
  background-image: linear-gradient(bottom, #15558a 35%, #2473b3 100%);
  background-image: -o-linear-gradient(bottom, #15558a 35%, #2473b3 100%);
  background-image: -moz-linear-gradient(bottom, #15558a 35%, #2473b3 100%);
  background-image: -webkit-linear-gradient(bottom, #15558a 35%, #2473b3 100%);
  background-image: -ms-linear-gradient(bottom, #15558a 35%, #2473b3 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.35, #15558a), color-stop(1, #2473b3));
}

/* line 36, scss/app/_public_tables.scss */
table thead tr th,
table tfoot tr th {
  color: #fff !important;
  margin: 0 !important;
}

/* line 234, ../scss/foundation/components/modules/_ui.scss */
/* line 48, scss/app/_public_tables.scss */
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  display: table-cell;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

/* line 236, ../scss/foundation/components/modules/_ui.scss */
/* line 58, scss/app/_public_tables.scss */
table thead tr th,
table tfoot tr td {
  padding: 8px 10px 9px;
  font-size: 14px;
  font-weight: bold;
}

/* line 63, scss/app/_public_tables.scss */
table thead th {
  border: none !important;
}

/* line 237, ../scss/foundation/components/modules/_ui.scss */
/* line 69, scss/app/_public_tables.scss */
table thead tr th, table tfoot tr td {
  border: none !important;
}

/* line 241, ../scss/foundation/components/modules/_ui.scss */
/* line 75, scss/app/_public_tables.scss */
table tbody tr.even,
table tbody tr.alt {
  background: #f9f9f9;
}

/* line 242, ../scss/foundation/components/modules/_ui.scss */
/* line 80, scss/app/_public_tables.scss */
table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

/* line 243, ../scss/foundation/components/modules/_ui.scss */
/* line 85, scss/app/_public_tables.scss */
table tbody tr td {
  color: #333;
  padding: 9px 10px;
  vertical-align: top;
  border: none;
}

/* =Navigation
-------------------------------------------------------------- */
/* clip skip link for screen readers */
/* line 4, scss/app/_public_responsive_nav.scss */
.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 8, scss/app/_public_responsive_nav.scss */
#access {
  font-family: "dinff_boldregular", helvetica neue, arial, sans-serif;
  color: #000;
  font-size: 1.1em;
  overflow: visible;
  z-index: 100;
}

/* style the main menu 8*/
/* line 16, scss/app/_public_responsive_nav.scss */
.sf-menu {
  border-top: none;
}

/* get rid of padding and margin off all ul's (not sure about using * here, could be better) */
/* line 20, scss/app/_public_responsive_nav.scss */
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* position all dropdowns off screen */
/* line 26, scss/app/_public_responsive_nav.scss */
.sf-menu ul {
  position: absolute;
  top: -999em;
}

/* style the main nav list items */
/* line 31, scss/app/_public_responsive_nav.scss */
.sf-menu li {
  clear: left;
  float: left;
  position: relative;
  width: 100%;
}

/* change the main nav list items on hover */
/* line 39, scss/app/_public_responsive_nav.scss */
.sf-menu li:hover {
  /* background-image: url('../img/menuBg.png'); */
  visibility: inherit;
  /* fixes IE7 'sticky bug' */
}

/* style all the links */
/* line 44, scss/app/_public_responsive_nav.scss */
.sf-menu a {
  font-size: 1.1em;
  color: #333;
  display: block;
  padding: 1px 0;
  text-decoration: none;
  text-indent: 12px;
}

/* line 53, scss/app/_public_responsive_nav.scss */
.sf-menu li.active a {
  color: #d9bb04;
}

/* line 59, scss/app/_public_responsive_nav.scss */
.sf-menu li.active ul li a {
  color: #003a6a;
}

/* style the first drop */
/* line 63, scss/app/_public_responsive_nav.scss */
.sf-menu li li, .sf-menu li li:hover {
  background: none;
  background-image: none;
}

/* add a larger text indent for the first drop links */
/* line 68, scss/app/_public_responsive_nav.scss */
.sf-menu li li a {
  text-indent: 24px;
  font-family: Helvetica Neue, arial, sans-serif;
}

/* add a larger text indent for the second drop links */
/* line 73, scss/app/_public_responsive_nav.scss */
.sf-menu li li li a {
  text-indent: 36px;
}

/* add a larger text indent for the third drop links */
/* line 77, scss/app/_public_responsive_nav.scss */
.sf-menu li li li li a {
  text-indent: 48px;
}

/* position first drop */
/* line 81, scss/app/_public_responsive_nav.scss */
.sf-menu li:hover ul {
  top: auto;
  /* match top ul list item height */
  position: relative;
}

/* make sure second drop is still off screen */
/* line 86, scss/app/_public_responsive_nav.scss */
ul.sf-menu li:hover li ul {
  position: absolute;
  top: -999em;
}

/* position second drop */
/* line 91, scss/app/_public_responsive_nav.scss */
ul.sf-menu li li:hover ul {
  top: auto;
  position: relative;
}

/* make sure third drop is still off screen */
/* line 96, scss/app/_public_responsive_nav.scss */
ul.sf-menu li li:hover li ul {
  position: absolute;
  top: -999em;
}

/* position third drop */
/* line 101, scss/app/_public_responsive_nav.scss */
ul.sf-menu li li li:hover ul {
  top: auto;
  position: relative;
}

@media only screen and (min-width: 600px) {
  /* set height so content isn't pushed down */
  /* line 109, scss/app/_public_responsive_nav.scss */
  #access {
    min-height: 5em;
  }

  /* set height so content isn't pushed down add z-index to keep drops above content */
  /* line 113, scss/app/_public_responsive_nav.scss */
  .sf-menu {
    height: 50px;
    z-index: 100;
  }

  /* restyle so main links are horizontally aligned */
  /* new style for drop list items */
  /* line 120, scss/app/_public_responsive_nav.scss */
  .sf-menu li li {
    background: #fff;
    clear: left;
    width: 100%;
  }

  /* reset text indent on all drop a tags and set the width to 100% */
  /* line 127, scss/app/_public_responsive_nav.scss */
  .sf-menu li li a, .sf-menu li li li a, .sf-menu li li li li a {
    text-indent: 12px;
    width: 100%;
  }

  /* reposision and style the first drop */
  /* line 132, scss/app/_public_responsive_nav.scss */
  .sf-menu li:hover ul {
    background: #003a6a;
    color: #fff !important;
    left: auto;
    position: absolute;
    top: -1;
    width: 100%;
    z-index: 100;
  }

  /* reposision and style the second drop */
  /* line 142, scss/app/_public_responsive_nav.scss */
  ul.sf-menu li li:hover ul {
    background: #000;
    position: absolute;
    top: -1px;
    left: 100%;
  }

  /* reposision and style the third drop */
  /* line 149, scss/app/_public_responsive_nav.scss */
  ul.sf-menu li li li:hover ul {
    background: #000;
    position: absolute;
    top: -1px;
    left: 100%;
  }

  /* line 155, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul {
    width: 25em !important;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    z-index: 10000;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
    margin-left: -1px !important;
    padding-top: 10px !important;
    background: #fff !important;
  }

  /* line 170, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li {
    background: white url(../images/app/lt_header_sprite.png) 22em -2.4em no-repeat;
  }

  /* line 176, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li.ontop {
    background: #003a6a !important;
    color: #fff !important;
  }

  /* line 180, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li.ontop a {
    color: #fff !important;
  }

  /* line 185, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li.ontop ul li a {
    color: #003a6a !important;
  }

  /* line 191, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li a {
    font-size: 1em;
    padding: .7em .2em;
    color: #003a6a !important;
    border-bottom: 1px solid #dadada;
    font-weight: bold !important;
  }

  /* line 203, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li a:hover {
    color: #fff !important;
    background: #003a6a !important;
  }

  /* line 211, scss/app/_public_responsive_nav.scss */
  .top-tab {
    background: #fff !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    z-index: 20000;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-top: 1px solid #dadada;
    margin-top: -1em;
    padding-top: 1em !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 25em !important;
    /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(white));
    /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, #f3f3f3, white);
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #f3f3f3, white);
    /* IE 10+ */
    background-image: -ms-linear-gradient(top, #f3f3f3, white);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #f3f3f3, white);
  }

  /* line 244, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul {
    width: 25em !important;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    z-index: 10000;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
    margin-left: -1px !important;
    padding-top: 10px !important;
    background: #fff !important;
  }

  /* line 259, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li {
    background: white url(../images/app/lt_header_sprite.png) 22em -2.4em no-repeat;
  }

  /* line 265, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li.ontop {
    background: #003a6a !important;
    color: #fff !important;
  }

  /* line 269, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li.ontop a {
    color: #fff !important;
  }

  /* line 274, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li.ontop ul li a {
    color: #003a6a !important;
  }

  /* line 280, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li a {
    font-size: 1.1em;
    padding: .7em .2em;
    color: #003a6a !important;
    border-bottom: 1px solid #dadada;
    font-weight: bold !important;
  }

  /* line 292, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li a:hover {
    color: #fff !important;
    background: #003a6a !important;
  }

  /* line 299, scss/app/_public_responsive_nav.scss */
  .sf-menu li.drop:hover {
    background: #fff !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    z-index: 20000;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-top: 1px solid #dadada;
    margin-top: -1em;
    padding-top: 1em !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  /* line 314, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li:hover, .sf-menu li ul li ul li:hover {
    box-shadow: 0;
    margin: 0 !important;
    padding: 0 !important;
    border-top: 0 !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }

  /* line 326, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li ul:hover {
    background: #000 !important;
  }

  /* line 332, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li ul {
    width: 15em !important;
    padding-top: 0 !important;
    margin-left: -5px !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  /* line 343, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li ul li {
    background: #fff !important;
  }

  /* line 349, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li ul li a {
    font-size: .9em;
    padding: .3em .1em;
    color: #003a6a !important;
    border-bottom: 1px solid #dadada;
    font-weight: normal !important;
  }

  /* line 360, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li ul li a:hover {
    background: #003a6a !important;
    color: white !important;
  }
}
@media only screen and (min-width: 768px) {
  /* line 376, scss/app/_public_responsive_nav.scss */
  #access {
    min-height: 5em;
  }

  /* line 382, scss/app/_public_responsive_nav.scss */
  .sf-menu {
    border-top: 1px solid #dadada;
    padding: 1.1em 0 1em;
    min-height: 4em;
    margin: 1em 0;
    border-bottom: 1px solid #dadada;
  }

  /* line 391, scss/app/_public_responsive_nav.scss */
  .sf-menu li {
    clear: none;
    width: 14.285714286%;
    /* this will need to be adjusted for your needs */
  }

  /* line 398, scss/app/_public_responsive_nav.scss */
  .drop {
    background: url(../images/app/lt_header_sprite.png) 7.6em 4px repeat;
  }

  /* line 404, scss/app/_public_responsive_nav.scss */
  .top-tab {
    background: #fff !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    z-index: 20000;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-top: 1px solid #dadada;
    margin-top: -1em;
    padding-top: 1em !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(white));
    /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, #f3f3f3, white);
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #f3f3f3, white);
    /* IE 10+ */
    background-image: -ms-linear-gradient(top, #f3f3f3, white);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #f3f3f3, white);
  }

  /* bigger screen bigger font size and padding */
  /* line 436, scss/app/_public_responsive_nav.scss */
  .sf-menu a {
    font-size: 1.1em;
    padding: 0em 0;
  }

  /* line 441, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul {
    width: 25em !important;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    z-index: 10000;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
    margin-left: -1px !important;
    padding-top: 10px !important;
    background: #fff !important;
  }

  /* line 456, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li {
    background: white url(../images/app/lt_header_sprite.png) 22em -2.4em no-repeat;
  }

  /* line 462, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li.ontop {
    background: #003a6a !important;
    color: #fff !important;
  }

  /* line 466, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li.ontop a {
    color: #fff !important;
  }

  /* line 471, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li.ontop ul li a {
    color: #003a6a !important;
  }

  /* line 477, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li a {
    font-size: 1.1em;
    padding: .7em .2em;
    color: #003a6a !important;
    border-bottom: 1px solid #dadada;
    font-weight: bold !important;
  }

  /* line 489, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li a:hover {
    color: #fff !important;
    background: #003a6a !important;
  }

  /* line 496, scss/app/_public_responsive_nav.scss */
  .sf-menu li.drop:hover {
    background: #fff !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    z-index: 20000;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-top: 1px solid #dadada;
    margin-top: -1em;
    padding-top: 1em !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  /* line 511, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li:hover, .sf-menu li ul li ul li:hover {
    box-shadow: 0;
    margin: 0 !important;
    padding: 0 !important;
    border-top: 0 !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }

  /* line 523, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li ul:hover {
    background: #000 !important;
  }

  /* line 529, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li ul {
    width: 15em !important;
    padding-top: 0 !important;
    margin-left: -5px !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  /* line 540, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li ul li {
    background: #fff !important;
  }

  /* line 546, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li ul li a {
    font-size: .9em;
    padding: .3em .1em;
    color: #003a6a !important;
    border-bottom: 1px solid #dadada;
    font-weight: normal !important;
  }

  /* line 557, scss/app/_public_responsive_nav.scss */
  .sf-menu li ul li ul li a:hover {
    background: #003a6a !important;
    color: white !important;
  }
}
@media only screen and (min-width: 1382px) {
  /* move the header to the left side of the screen */
  /* line 582, scss/app/_public_responsive_nav.scss */
  .drop {
    background: url(../images/app/lt_header_sprite.png) 6.9em 3px repeat;
  }

  /* bigger screen bigger nav */
  /* line 587, scss/app/_public_responsive_nav.scss */
  #access {
    height: 1.5em;
  }

  /* bigger screen bigger nav */
  /* line 591, scss/app/_public_responsive_nav.scss */
  .sf-menu {
    height: 1.5em;
  }

  /* bigger screen bigger font size and padding */
  /* line 595, scss/app/_public_responsive_nav.scss */
  .sf-menu a {
    font-size: 1em;
    padding: 0 0;
  }
}
/* line 1, scss/views/_index.scss */
body {
  background: url(../images/bgPattern.png);
}

/* line 1, scss/views/_header.scss */
.header {
  padding: 2em 0 1em;
}

/* line 7, scss/views/_header.scss */
.lt_header_teaser {
  text-align: right;
}
/* line 12, scss/views/_header.scss */
.lt_header_teaser .leader {
  font-family: "dinff_boldregular", helvetica neue, arial, sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}
/* line 20, scss/views/_header.scss */
.lt_header_teaser .phone {
  font-family: "dinff_regularregular", helvetica neue, arial, sans-serif;
  font-weight: normal;
  margin: 0;
}
/* line 29, scss/views/_header.scss */
.lt_header_teaser .email {
  margin-top: 0;
}
/* line 35, scss/views/_header.scss */
.lt_header_teaser a {
  font-family: "dinff_regularregular", helvetica neue, arial, sans-serif;
  font-weight: normal;
}

/* line 46, scss/views/_header.scss */
.header_nav {
  list-style-type: none;
}
/* line 52, scss/views/_header.scss */
.header_nav li {
  padding: 0 3%;
  text-align: left;
  float: left;
}
/* line 58, scss/views/_header.scss */
.header_nav li a {
  font-family: "dinff_boldregular", helvetica neue, arial, sans-serif;
  color: #000;
  font-size: 1.1em;
}
/* line 75, scss/views/_header.scss */
.header_nav li.active a {
  color: #d9bb04;
}
/* line 90, scss/views/_header.scss */
.header_nav li.drop a {
  display: block;
  padding: 0 1em 0 0;
  background: url(../images/lt_header_sprite.png) 6.1em 3px repeat;
}

/* line 108, scss/views/_header.scss */
.header_search {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
  height: 2em !important;
  padding: .3em 1em .2em !important;
  font-size: .9em !important;
  background: url(../images/lt_header_sprite.png) -3em -75px repeat;
}

/* line 118, scss/views/_header.scss */
.sub_detail {
  margin-top: 1em;
  color: #6a6a6a;
  font-size: .8em;
  padding: 0 .3em;
  text-transform: uppercase;
}

/* line 1, scss/views/_footer.scss */
.detail {
  color: #d9bb04;
  font-size: .8em;
  text-transform: uppercase;
  padding-right: 1em;
}

/* line 10, scss/views/_footer.scss */
.footer {
  background: #354049;
  margin-top: 10em;
  padding: 3em 0;
}
/* line 16, scss/views/_footer.scss */
.footer .subhead {
  display: block;
  color: #fff;
  text-shadow: 2px 2px 2px #1a1a1a;
  padding: 0 0 .8em;
  letter-spacing: .1em;
  font-size: .9em;
}
/* line 25, scss/views/_footer.scss */
.footer .subhead a {
  color: #d9bb04;
}

/* line 35, scss/views/_footer.scss */
.copyright {
  color: #adadad;
  letter-spacing: .1em;
  font-size: .9em;
}

/* line 1, scss/views/_home.scss */
.hero {
  text-align: center;
}
/* line 5, scss/views/_home.scss */
.hero h1 {
  font-family: dinff_boldregular;
  color: #003a6a;
}
/* line 12, scss/views/_home.scss */
.hero h4 {
  font-family: dinff_regularregular;
  color: #8a8a8a;
}
/* line 19, scss/views/_home.scss */
.hero a {
  font-weight: bold;
  color: #003a6a;
}

/* line 29, scss/views/_home.scss */
.image-shadow {
  border: #666;
  /* devil */
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.6);
}

/* line 36, scss/views/_home.scss */
.home-box li {
  text-align: center;
}
/* line 40, scss/views/_home.scss */
.home-box li .home-boxed {
  text-align: left;
  min-height: 16em;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid #bababa;
  border-radius: 4px;
  padding: 1em;
}
/* line 50, scss/views/_home.scss */
.home-box li .home-boxed iframe {
  min-height: 100%;
  height: 100%;
}
/* line 60, scss/views/_home.scss */
.home-box li .media-boxed {
  min-height: 16em;
}

/* WIDGETS */
/* line 3, scss/views/_catalog.scss */
#related_links_widget {
  background: #fff;
  padding: 2em;
  box-shadow: 0px 0px 2px #9a9a9a;
  border-radius: 2px;
}
/* line 10, scss/views/_catalog.scss */
#related_links_widget ul {
  list-style-type: none;
}
/* line 14, scss/views/_catalog.scss */
#related_links_widget ul li {
  display: block;
  background: url(../images/lt-body-sprite.png) 0px -7px no-repeat;
  height: 12px;
  margin: 6px 0;
  padding-left: 1em;
  padding-top: 0px;
}
/* line 23, scss/views/_catalog.scss */
#related_links_widget ul li a {
  display: block;
  font-size: .9em;
}

/* descrption particulars */
/* line 46, scss/views/_catalog.scss */
.arrow-link {
  font-weight: bold;
  padding-right: 25px;
  background: url(../images/lt-body-sprite.png) right -20px no-repeat;
}

/* line 54, scss/views/_catalog.scss */
.description-style ul {
  list-style-type: none;
}
/* line 58, scss/views/_catalog.scss */
.description-style ul li {
  background: url(../images/lt-bullet.png) 0px 6px no-repeat;
  min-height: 18px;
  margin: 8px 0;
  padding-left: 1em;
}

/* line 75, scss/views/_catalog.scss */
#subcategory_products_widget li .image-hover {
  text-align: center;
  color: #003a6a;
  font-size: 1.4em;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: 0px 0px 2px #9a9a9a;
}
/* line 86, scss/views/_catalog.scss */
#subcategory_products_widget li .image-hover:hover {
  color: #000;
  text-decoration: underline;
}
/* line 88, scss/views/_catalog.scss */
#subcategory_products_widget li .image-hover:hover img {
  opacity: 0.2;
}
/* line 104, scss/views/_catalog.scss */
#subcategory_products_widget li div {
  font-size: 1em;
  font-weight: bold;
}
/* line 111, scss/views/_catalog.scss */
#subcategory_products_widget li ul {
  list-style-type: none;
}
/* line 117, scss/views/_catalog.scss */
#subcategory_products_widget li ul li a {
  display: block;
  font-size: .9em;
  font-weight: bold;
}
/* line 124, scss/views/_catalog.scss */
#subcategory_products_widget li ul li a:hover {
  text-decoration: underline;
}

/* line 137, scss/views/_catalog.scss */
.product-box {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 18px;
  padding: 0;
  border: 1px solid #ddd;
  padding: 2px;
}

/* line 151, scss/views/_catalog.scss */
.product-box-head {
  background-image: linear-gradient(bottom, #15558a 35%, #2473b3 100%);
  background-image: -o-linear-gradient(bottom, #15558a 35%, #2473b3 100%);
  background-image: -moz-linear-gradient(bottom, #15558a 35%, #2473b3 100%);
  background-image: -webkit-linear-gradient(bottom, #15558a 35%, #2473b3 100%);
  background-image: -ms-linear-gradient(bottom, #15558a 35%, #2473b3 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.35, #15558a), color-stop(1, #2473b3));
  color: #fff;
  padding: 8px 10px 9px;
  font-size: 14px;
  font-weight: bold;
}

/* line 1, scss/views/_contact.scss */
.homebox {
  text-align: left;
  min-height: 16em;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid #bababa;
  border-radius: 4px;
  padding: 1em;
}

/* line 15, scss/views/_contact.scss */
.address p {
  display: block;
  margin: 0;
}

/* line 27, scss/views/_contact.scss */
#sales_contacts label {
  font-size: .9em;
}

/* line 35, scss/views/_contact.scss */
.featured_contact {
  text-align: left;
  min-height: 16em;
  background: #f9f9f9;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid #bababa;
  border-radius: 4px;
  padding: 1em;
}
/* line 45, scss/views/_contact.scss */
.featured_contact p {
  display: block;
  margin: 0;
}
/* line 52, scss/views/_contact.scss */
.featured_contact a {
  font-weight: bold;
  color: #003a6a;
}

/* line 62, scss/views/_contact.scss */
#contact_form label {
  margin-bottom: .7em;
  margin-top: 1em;
}

/* IE7 SHIM */
/* line 36, scss/public_style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../stylesheets/polyfills/box-sizing.htc);
}
